{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">{{ user.username }} is following</h1>
                <p>Num: {{ user.userprofile.follows.count }}</p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-8">
                {% for follows in user.userprofile.follows.all %}
                    {% if follows.user.userprofile.avatar %}
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <a href="{% url 'userprofile' follows.user.username %}"><img
                                            src="{{ follows.user.userprofile.avatar.url }}" alt="avatar"></a>
                                </p>
                                <hr>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <a href="{% url 'userprofile' follows.user.username %}">{{ follows.user.username }}</a>
                                    </p>
                                </div>
                            </div>
                        </article>
                    {% else %}
                        <p><a href="{% url 'userprofile' follows.user.username %}">{{ follows.user.username }}</a></p>
                    {% endif %}

                {% empty %}
                    {% if request.user == user %}
                        <p>You don't follow anyone!</p>
                    {% else %}
                        <p>{{ user.username }} isn't following anyone!</p>
                    {% endif %}
                {% endfor %}


            </div>
        </div>
    </div>
{% endblock %}