{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <h1 class="title">Search</h1>
                <p>Search term: "{{ query }}" </p>
                <hr>

                <form action="{% url 'search' %}" method="get">
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" name="query" value="{{ query }}">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Search</button>
                        </div>
                    </div>
                </form>

                <hr>

                <div class="search-results">
                    {% if not reporters and not reports %}
                        <p>No results? please try a different search term. </p>
                    {% endif %}
                    {% if reporters %}
                        <strong>Reporters</strong>
                        {% for reporter in reporters %}
                            {% if reporter.userprofile.avatar %}
                                <article class="media">
                                    <figure class="media-left">
                                        <p class="image is-64x64">
                                            <a href="{% url 'userprofile' reporter.username %}"><img
                                                    src="{{ reporter.userprofile.avatar.url }}" alt="avatar"></a>
                                        </p>
                                        <hr>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <a href="{% url 'userprofile' reporter.username %}">{{ reporter.username }}</a>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            {% else %}
                                <p><a href="{% url 'userprofile' reporter.username %}">{{ reporter.username }}</a></p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if reports %}
                        <strong>Reports</strong>
                        <div class="wrapper-reports">
                            {% for report in reports %}
                                <div class="report">
                                    <article class="media">
                                        <figure class="media-left">
                                            <p class="image is-64x64">
                                                {% if report.created_by.userprofile.avatar %}
                                                    <a href="{% url 'userprofile' report.created_by.username %}">
                                                        <img src="{{ report.created_by.userprofile.avatar.url }}"
                                                             alt="avatar">
                                                    </a>
                                                {% endif %}
                                            </p>
                                        </figure>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>
                                                        <a href="{% url 'userprofile' report.created_by.username %}">
                                                            {{ report.created_by.username }}</a></strong>
                                                    <small>{{ report.created_at|naturaltime }}</small>
                                                    <br>
                                                    {{ report.body }}

                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}

                        </div>
                    {% endif %}

                </div>


            </div>
        </div>
    </div>
{% endblock %}